<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yolodetector">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk android:minSdkVersion="21" />

    <application android:allowBackup="true"
        android:label="Real-time Detector"
        android:theme="@style/MaterialTheme">

        <!--android:icon="@drawable/ic_launcher"-->

        <activity android:name="com.example.yolodetector.CameraActivity"
            android:screenOrientation="portrait"
            android:label="Real-time Detector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
